.camera__buttons {


   font-size: 3.5rem;
   bottom: 30vh;

  &--left {
    z-index: 1;
    position: absolute;
    bottom: inherit;
    left: 40vw;
    color: red;
  }

  &--right{
    z-index: 1;
    position: absolute;
    bottom: inherit;
    right: 40vw;
    color: blue;
  }

}