.camera__buttons {

    display: inline-block;
    position: absolute;
    font-size: 3.5rem;
    z-index: 1;
    cursor: pointer;


  &--left {
    top: 80vh;
    left: 40vw;
    color: red;
    background-color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    text-align: center;
    text-decoration: bold;
    border: .1rem solid black;
    margin-left: 5.7rem;

  }

  &--right {
    top: 80vh;
    left: 60vw;
    color: blue;
    background-color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    text-align: center;
    text-decoration: bold;
    border: .1rem solid black;
    margin-left: -5.7rem;

  }

}