.color {
  position: absolute;
  z-index: 1;
  display: flex;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 3px;
  margin: 2rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  &__blue {
    width: 50px;
    height: 50px;
  }
  &__yellow {
    background-color: yellow;
    width: 50px;
    height: 50px;
  }
  &__white {
    padding-right: .2rem;
    background-color: white;
    width: 50px;
    height: 50px;
  }

}